{% extends '../layouts/main.html' %}

{% block title %}Расчет стоимости перевозки{% endblock %}

{% block head %}
{% parent %}
<link rel="stylesheet" href="/css/service-5.css">
<script src="/js/service-5.js"></script>
{% endblock %}

{% block content %}
{% include "../includes/navigation.html" with { service: "Расчет стоимости перевозки" } %}
<div class="container">
  <div class="services-wel wel-head text-center">
    <h3>Расчет стоимости перевозки</h3>
    <p>Расчет логистических затрат на перевозку груза.</p>
  </div>

  <div id="carriage-container" >
    {% include '../includes/carriage-form.html' %}

    {% for carriage in carriages%}
      {% include '../includes/carriage-form.html' %}
    {% endfor %}

    <div class="blog-artical-pagenate">
      <ul class="pagination">
        {% autoescape false %}
        {{ createPagination(pages, page) }}
        {% endautoescape %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
