{% extends '../layouts/main.html' %}

{% block title %}Выбор собственности склада{% endblock %}

{% block head %}
{% parent %}
  <link rel="stylesheet" href="/vendor/bower_components/chartist/dist/chartist.min.css">
  <script src="/vendor/bower_components/chartist/dist/chartist.min.js"></script>
  <link rel="stylesheet" href="/css/service-6.css">
  <script src="/js/service-6.js"></script>
{% endblock %}

{% block content %}
{% include "../includes/navigation.html" with { service: "Выбор собственности склада" } %}
<div class="container">
  <div class="services-wel wel-head text-center">
    <h3>Выбор формы собственности склада</h3>
    <p>Выбор формы собственности склада, исходя из Ваших требований.</p>
  </div>
  <div class="row">
    <div class="col-sx-12 col-md-6">
      <h4>Форма расчета</h4>
      <form name="graphic-form" method="post" action="/services/6/create" data-remote="true" >
        <input type="hidden" name="_csrf" value="{{ csrf_token }}">
        <div class=" form-group">
          <label for="const-own-cost" >Затраты эксплуатации собс склада</label><br/>
          <input id="const-own-cost" name="constOwnCost" type="number" min="0.01" step="0.01" placeholder="Денежных единиц/год" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="alt-own-cost">Удельные затраты собс склада</label>
          <input id="alt-own-cost" name="altOwnCost" type="number" min="0.01" step="0.01" placeholder="Денежных единиц/тонна" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="alt-rent-cost">Удельные затраты аренд склада</label>
          <input id="alt-rent-cost" name="altRentCost" type="number" min="0.01" step="0.01" placeholder="Денежных единиц/тонна" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="turnover">Товарооборот</label>
          <input id="turnover" name="turnover" type="number" min="0.01" step="0.01" placeholder="Тонн/год" class="form-control" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-info">Добавить <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
          <button type="reset" class="btn btn-warning">Сбросить <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
        </div>
      </form>
    </div>

    <div class="col-sx-12 col-md-6">
      <h4>История расчетов</h4>
      <div class="scroll">
        <table  class="table table-bordered table-hover text-center">
          <thead>
          <tr>
            <th>#</th>
            <th title="Затраты эксплуатации собственного склада">ЗЭСС</th>
            <th title="Удельные затраты собственного склада">УЗСК</th>
            <th title="Удельные затраты ареного склада">УЗАС</th>
            <th title="Товарооборот">Тов-от</th>
            <th>#</th>
          </tr>
          </thead>
            <tbody id="result-table">

            </tbody>
        </table>
      </div>
    </div>
  </div>

  <div id="results" class="services-wel wel-head text-center">
    <h4>График затрат</h4>
    <p>Затраты на <span class="ownStore">---- собственный склад</span>, <span class="rentStore">----- арендный склад</span></p>
    <h5>Точка безразличия достигается при <span class="lead" id="apathy">xxx</span> тонн/год.</h5>
    <div id="my-chart" class="ct-chart ct-perfect-fourth"></div>
  </div>

</div>
{% endblock %}
