<div class="container-fluid">
  <form name="{{carriage.id}}" class="form-inline" method="post" action="/services/5" data-remote="true">
    <input type="hidden" name="_csrf" value="{{ csrf_token }}">
    <input type="hidden" name="id" value="{{carriage.id}}">
    <div class="row">
      <hr/>
      <div class="col-xs-10 col-md-11">
        <div class=" form-group">
          <label>Par1</label>
          <input name="param1" type="number" class="form-control" value="{{carriage.param1}}" required>
        </div>
        <div class="form-group">
          <label>Par1</label>
          <input name="param2" type="number" class="form-control" value="{{carriage.param2}}" required>
        </div>
        <div class="form-group">
          <label>Par1</label>
          <input name="param3" type="number" class="form-control" value="{{carriage.param3}}" required>
        </div>
        <div class="form-group">
          <label>Par1</label>
          <input name="param4" type="number" class="form-control" value="{{carriage.param4}}" required>
        </div>
        <div class=" form-group">
          <label>Par1</label>
          <input name="param5" type="number" class="form-control" value="{{carriage.param5}}" required>
        </div>
        <div class=" form-group">
          <label>Par1</label>
          <input name="param6" type="number" class="form-control" value="{{carriage.param6}}" required>
        </div>
        <div class=" form-group">
          <label>Par1</label>
          <input name="param6" type="number" class="form-control" value="{{carriage.param6}}" required>
        </div>
        <div class=" form-group">
          <label>Par1</label>
          <input name="param6" type="number" class="form-control" value="{{carriage.param6}}" required>
        </div>
        <div class=" form-group">
          <label>Par1</label>
          <input name="param6" type="number" class="form-control" value="{{carriage.param6}}" disabled>
        </div>
      </div>
      <div class="col-xs-2 col-md-1">
        <div class=" form-group">
          <button name="submit" value="{{carriage.id}}" type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
          <button name="reset" value="{{carriage.id}}" type="reset" class="btn btn-warning"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
          <button name="delete" value="{{carriage.id}}" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        </div>
      </div>
    </div>
  </form>
</div>