<div class="container-fluid">
  <form name="{{carriage.id}}" class="form-inline" method="post" action="/services/5" data-remote="true">
    <input type="hidden" name="_csrf" value="{{ csrf_token }}">
    <input type="hidden" name="id" value="{{carriage.id}}">
    <div class="row">
      <hr/>
      <div class="col-xs-0 col-md-1"></div>
      <div class="col-xs-10 col-md-10">
        <div class=" form-group">
          <label for="{{carriage.id + 'yearDemand' }}" >Годовой спрос</label><br/>
          <input id="{{carriage.id + 'yearDemand' }}" name="yearDemand" type="number"  min="0" step="0.1" class="form-control" value="{{carriage.yearDemand}}" placeholder="Единиц товара" required>
        </div>
        <div class="form-group">
          <label for="{{carriage.id + 'unitCost' }}">Цена единицы</label><br/>
          <input id="{{carriage.id + 'unitCost' }}" name="unitCost" type="number"  min="0" step="0.1"  class="form-control" value="{{carriage.unitCost}}" placeholder="Денежных единиц" required>
        </div>
        <div class="form-group">
          <label for="{{carriage.id + 'saveCost' }}">Доля затрат на хр-ние</label><br/>
          <input id="{{carriage.id + 'saveCost' }}" name="saveCost" type="number"  min="0" step="0.1"  class="form-control" value="{{carriage.saveCost}}" placeholder="В % от стоимости заказа" required>
        </div>
        <div class="form-group">
          <label for="{{carriage.id + 'constCost' }}">Постоянные затраты</label><br/>
          <input id="{{carriage.id + 'constCost' }}" name="constCost" type="number"  min="0" step="0.1"  class="form-control" value="{{carriage.constCost}}" placeholder="Денежных единиц" required>
        </div>
        <div class=" form-group">
          <label for="{{carriage.id + 'transRate' }}">Транспортный тариф</label><br/>
          <input id="{{carriage.id + 'transRate' }}" name="transRate" type="number"  min="0" step="0.1"  class="form-control" value="{{carriage.transRate}}" placeholder="Денежных единиц" required>
        </div>
        <div class=" form-group">
          <label for="{{carriage.id + 'partySize' }}">Размер партии</label><br/>
          <input id="{{carriage.id + 'partySize' }}" name="partySize" type="number"  min="0" step="0.1"  class="form-control" value="{{carriage.partySize}}" placeholder="Единиц товара" required>
        </div>
        <div class=" form-group">
          <label for="{{carriage.id + 'wayTime' }}">Время в пути</label><br/>
          <input id="{{carriage.id + 'wayTime' }}" name="wayTime" type="number"  min="0" step="0.1"  class="form-control" value="{{carriage.wayTime}}" placeholder="В днях" required>
        </div>
        <div class=" form-group">
          <label for="{{carriage.id + 'stockTime' }}">Время страхового запаса</label><br/>
          <input id="{{carriage.id + 'stockTime' }}" name="stockTime" type="number"  min="0" step="0.1"  class="form-control" value="{{carriage.stockTime}}" placeholder="В днях" required>
        </div>
        <div class=" form-group">
          <label for="{{carriage.id + 'costs' }}">Итоговые затраты</label><br/>
          <input id="{{carriage.id + 'costs' }}" name="costs" type="number"  min="0" step="0.1"  class="form-control" value="{{carriage.costs}}" disabled>
        </div>
      </div>
      <div class="col-xs-2 col-md-1">
        <div class=" form-group">
          <button name="submit" value="{{carriage.id}}" type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
          <button name="reset" value="{{carriage.id}}" type="reset" class="btn btn-warning"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
          <button name="delete" value="{{carriage.id}}" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        </div>
      </div>
    </div>
  </form>
</div>