
<!------ about ---->
<div class="services">
  <!--- bradcrumbs ---->
  <div class="breadcrumbs">
    <div class="container">
      <div class="breadcrumbs-left">
        <h1>Сервис</h1>
      </div>
      <div class="breadcrumbs-right">
        <ul>
          <li><a href="/">Главная</a> <label>:</label></li>
          <li><a href="/services">Сервис</a> <label>:</label></li>
          <li> {{ service }} </li>
        </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <!--- bradcrumbs ---->
</div>