{% if (comment && comment.user) %}
<div class="comment">
  {% if (comment.user.name) %}
    {% set name = comment.user.name %}
  {% else %}
    {% set name = comment.user.username %}
  {% endif %}
  <p> <a href="{{ '/users/' + comment.user._id }}">{{ name }}</a>
    :&nbsp;
    {{ comment.body }}
  </p>
  <form name="delete-comment" role="form" action="{{ '/news/' + article._id + '/comments'}}" class="form-inline" data-remote="true">
    <input type="hidden" name="_csrf" value="{{ csrf_token }}">
    <input type="hidden" name="id" value="{{ '' + comment._id }}">
    <small>{{ comment.createdAt.toISOString()|date('M d, Y  h:m a') }}</small>
    {% if (req.user.id == comment.user.id) %}
      <button class="btn btn-danger btn-link error" type="submit">{{__('delete')}}</button>
    {% endif %}
  </form>
</div>
{% endif %}
