.slick-prev:before, .slick-next:before{
    color:#222222;
}

.point-thumbnail {
    border: 3px groove #222222;
    padding: 10px;
    height: 100%;
}

#results {
    display: none;
}

table {
    margin: auto;
    width: 50%;
}

td {
    border: 3px solid #222222;
    padding: 5%;
}