#sortable1, #sortable2 {
    border: 3px solid #222222;
    min-height: 600px;
    list-style-type: none;
    margin: 1%;
    padding: 5px;
}

#sortable1 li, #sortable2 li {
    margin: 0 5px 5px 5px;
    padding: 2%;
    font-size: 1em;
}