{% extends "../layouts/main.html" %}

{% block title %}Авторизация{% endblock %}

{% block content %}
  <div class="container">
    <p>{{ message }}</p>
    <div class="row">
      <div class="col-md-3 text-center">
        <h3>{{__('login_with')}}</h3>
        <a href="/auth/google">
          <img src="/img/google.png" alt="google auth">
        </a>
        <a href="/auth/vkontakte">
          <img src="/img/vk.jpg" alt="vkontanke auth">
        </a>
      </div>
      <div class=" col-md-9 login">
        <h3 class="text-center">{{__('login_through_site')}}</h3>
        {% block auth %}
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
