<div class="blog-artical-grid break-word">
  <h3><a href="{{ '/news/' + article._id }}">{{ article.title }}</a></h3>
  <div class="blog-artical-grid-pic-info">
    {% if (article.image.length) %}
    <div class="blog-artical-grid-pic">
      <img src="{{ article.image }}" title="{{ article.title }}">
    </div>
    {% else %}
    <br/><br/>
    {% endif %}
    <div class="blog-artical-grid-pic-info-admin">
      <div class="blog-artical-grid-pic-info-admin-left">
        <ul>
          <li><p>Written by <a href="#">{{ article.user.name || article.user.username }}</a></p></li>
        </ul>
      </div>
      <div class="blog-artical-grid-pic-info-admin-right">
        <p>{{ article.createdAt.toLocaleString() }}</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <br/>
  <!-----start-artical-destilas---->
  <div class="artical-details">
    <p>{{ article.short }}</p>
  </div>
  <!-----//End-artical-destilas---->
  <div class="artical-more-btn">
    <a href="{{ '/news/' + article._id }}"><span>{{__('readMore')}}...</span></a>
  </div>
</div>
<!----//End-blog-artical-grid--->