{% extends "../layouts/main.html" %}
{% block title %}Новости{% endblock %}

{% block content %}
	<!---- container ---->
		<!------ about ---->
		<div class="services">
			<!--- bradcrumbs ---->
			<div class="breadcrumbs">
				<div class="container">
					<div class="breadcrumbs-left">
            <h1>Новости</h1>
            <a href="/news/new" class="btn btn-primary">Добавить новость</a>
					</div>
					<div class="breadcrumbs-right">
						<ul>
              <li><a href="/">Главная</a> <label>:</label></li>
              <li>Новости</li>
						</ul>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<!--- bradcrumbs ---->
		</div>
		<div class="blog">
				<div class="container">
					<div class="blog-left">
						<div class="blog-artical-grids">
              {% if (articles.length) %}
                {% for article in articles %}
                {% include 'article.html' %}
              {% endfor %}
            </div>
            {% if (pages > 1) %}
            <div class="blog-artical-pagenate">
              <ul class="pagination">
                {% autoescape false %}
                {{ createPagination(pages, page) }}
                {% endautoescape %}
              </ul>
            </div>
            {% endif %}
            {% else %}
              <h4 class="muted">
                No articles.&nbsp;
                <a href="/news/new">create one</a>
              </h4>
            {% endif %}
					</div>
					<div class="blog-right">
            <!----start-comments---->
						<div class="blog-comments">
							<div class="blog-right-head">
								<span> </span>
								<h3>Last Comments</h3>
							</div>
							<div class="blog-comment-grids">
                {% for comment in lastComments %}
                  <div class="blog-comment-grid">
                    <div class="blog-comment-grid-left">
                      <img src="/img/user.png" alt="user">
                    </div>
                    <div class="blog-comment-grid-right">
                      <a href="{{ '/users/' + comment.user }}">{{ comment.author }}</a>
                      <p>{{comment.body}}</p>
                    </div>
                    <div class="clearfix"> </div>
                  </div>
                {% endfor %}
              </div>
						</div>
						<!----start-Comments---->
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
	<!---- container ---->
{% endblock %}
