{% extends "./layouts/main.html" %}

{% block title %}Описание{% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/vendor/bower_components/slick.js/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="/vendor/bower_components/slick.js/slick/slick-theme.css"/>
  <link rel="stylesheet" href="/css/about.css" />
  <script type="text/javascript" src="/vendor/bower_components/slick.js/slick/slick.js"></script>
  <script src="/js/about.js" ></script>
{% endblock %}

{% block content %}
    <!------ about ---->
    <div class="about">
        <!--- bradcrumbs ---->
        <div class="breadcrumbs">
            <div class="container">
                <div class="breadcrumbs-left">
                    <h1>Описание</h1>
                </div>
                <div class="breadcrumbs-right">
                    <ul>
                        <li><a href="/">Главная</a> <label>:</label></li>
                        <li>Описание</li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <!--- bradcrumbs ---->
    </div>
    <div class="container" id="slider">
      <div class="blog-artical-grid-pic-info">
        <div class="blog-artical-grid-pic">
          <img src="img/post-pic2.jpg" title="place-name">
        </div>
        <div class="blog-artical-grid-pic-info-admin">
          <div class="blog-artical-grid-pic-info-admin-left">
            <ul>
              <li><a href="#"><img src="img/admin-pic4.jpg" title="name-here"></a></li>
              <li><p>АСРТОС доступен и удобен</p></li>
            </ul>
          </div>
          <div class="blog-artical-grid-pic-info-admin-right">
            <!--<h6>19/<span>09</span></h6>-->
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="blog-artical-grid-pic-info">
        <div class="blog-artical-grid-pic">
          <img src="img/post-pic1.jpg" title="place-name">
        </div>
        <div class="blog-artical-grid-pic-info-admin">
          <div class="blog-artical-grid-pic-info-admin-left">
            <ul>
              <li><a href="#"><img src="img/admin-pic1.jpg" title="name-here"></a></li>
              <li><p>АСРТОС эффективно решает ваши проблемы</p></li>
            </ul>
          </div>
          <div class="blog-artical-grid-pic-info-admin-right">
            <!--<h6>19/<span>09</span></h6>-->
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="blog-artical-grid-pic-info">
        <div class="blog-artical-grid-pic">
          <img src="img/post-pic3.jpg" title="place-name">
        </div>
        <div class="blog-artical-grid-pic-info-admin">
          <div class="blog-artical-grid-pic-info-admin-left">
            <ul>
              <li><a href="#"><img src="img/admin-pic2.jpg" title="name-here"></a></li>
              <li><p>АСРТОС обеспечит надежность и эффективность</p></li>
            </ul>
          </div>
          <div class="blog-artical-grid-pic-info-admin-right">
            <!--<h6>19/<span>09</span></h6>-->
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
    </div>
    <div class="about-top-grids">
        <div class="container">
            <div class="about-wel wel-head text-center">
                <h3>Возможности <span>АСР</span>ТОС</h3>
                <p>Здесь вы можете найти описание основных функции системы.</p>
            </div>
            <!---- about-grids ---->
            <div class="about-grids" id="accordion">
              <h3>Выбор месторосположения оптового склада</h3>
              <div class="about-grids-row1">
                <p>Проблема определения места расположения склада приобретает актуальность при наличии развитой транспортной сети, так как в противном случае решение будет очевидным. Например, если на территории района есть только две пересекающиеся магистрали, вдоль которых расположены все поставщики и потребители компании, то склад (распределительный центр), скорее всего, будет размещен на пересечении магистралей. Задача размещения распределительных центров может формулироваться как поиск оптимального решения или же как поиск субоптимального (близкого к оптимальному) решения. Наукой и практикой выработаны разнообразные методы решения задач обоих видов. </p>
              </div>
              <h3>Расчет стоимости перевозки</h3>
              <div class="about-grids-row1">
                <p>Значительная часть логистических операций на пути движения материального потока осуществляется с помощью различных транспортных средств. Транспорт — связующее звено между элементами логистических систем. Транспортная логистика — это перемещение требуемого количества товара в нужную точку, оптимальным маршрутом за требуемое время и с наименьшими издержками. Затраты на создание любого товара складываются из себестоимости изготовления и издержек на выполнение всех работ от момента закупки материалов до момента покупки товара конечным потребителем. Большую часть стоимости составляют наценки каждого звена в цепи производитель — конечный покупатель. Движение материального потока от первичного источника сырья до конечного потребления также требует затрат, которые могут доходить до 50 % от общей суммы затрат на логистику.</p>
              </div>
              <h3>Расчет площади оптового склада</h3>
              <div class="about-grids-row1">
                <p>Площади на товарных складах обычно делят на помещения основного производственного назначения и вспомогательные. Первые служат для выполнения основных технологических операций, в том числе для хранения товаров, экспедиции и переработки. Вспомогательные помещения предназначены для хранения тары, размещения инженерных устройств и коммуникаций, а также различных служб и иных целей. При составлении проекта склада полезно знать функции, которые несут различные зоны, уметь оптимизировать их параметры и место расположения, определять эффективность работы.</p>
              </div>
              <h3>Определение класса оптового склада</h3>
              <div class="about-grids-row1">
                <p>С целью описания важнейших характеристик самого складского помещения, в том числе складского хозяйства, одной известной логистической компанией была разработана система классификации складов, наиболее полно отражающая характеристики складского помещения, как логистической и маркетинговой единицы. Согласно данной классификации складов, все складские помещения, независимо от их непосредственного назначения, делятся на четыре категории «A», «B», «C», «D». </p>
              </div>
              <h3>Планирование поставок оптового склада</h3>
              <div class="about-grids-row1">
                <p>Эффективное планирование поставок продукции позволяет из всего ассортимента товаров выбрать нужные позиции и обеспечить их наличие в нужном количестве. Планирование поставок напрямую зависит от спроса на каждую отдельную товарную позицию, которая должна компенсироваться за счет своевременных поставок. В то же время, переизбыток поставленного товара может приводить к дополнительным расходам, а в особенно тяжелых случаях к партиям неликвида, представляющим собой прямые убытки. Таким образом, для того, чтобы правильно спланировать поставки нужно изучить спрос на все виды товаров, выбрать удобного поставщика, а также разработать модель, по которой будут производиться поставки.</p>
              </div>
              <h3>Выбор между собственным и арендным складом</h3>
              <div class="about-grids-row1">
                <p>Логистическая цепь может быть организована с использованием собственных складов или складов общего пользования. Выбор между организацией собственного склада и использованием для размещения запаса склада общего пользования относится к классу задач «сделать или купить».
                </p>
              </div>
            </div>
            <!---- about-grids ---->
        </div>
    <!------ about ---->
    </div>

{% endblock %}
