{% extends "./layouts/main.html" %}

{% block title %}Описание{% endblock %}

{% block content %}

    <!------ about ---->
    <div class="about">
        <!--- bradcrumbs ---->
        <div class="breadcrumbs">
            <div class="container">
                <div class="breadcrumbs-left">
                    <h1>Описание</h1>
                </div>
                <div class="breadcrumbs-right">
                    <ul>
                        <li><a href="/">Главная</a> <label>:</label></li>
                        <li>Описание</li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <!--- bradcrumbs ---->
    </div>
    <div class="about-top-grids">
        <div class="container">
            <div class="about-wel wel-head text-center">
                <h3>Описание <span>АСР</span>ТОС</h3>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
            </div>
            <!---- about-grids ---->
            <div class="about-grids">
                <div class="about-grids-row1">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of  it.</p>
                </div>
                <div class="about-grids-row2">
                    <div class="about-grids-row2-grid">
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore,</p>
                    </div>
                    <div class="about-grids-row2-grid">
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore,</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <!---- about-grids ---->
        </div>
    <!------ about ---->
    </div>
    <!---- welcome-Note ---->
    <div class="about-note welcome-note">
        <div class="container">
            <div class="wel-head text-center">
                <h3>WE Are <span>M</span>oto</h3>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
            </div>
        </div>
    </div>
    <!---- welcome-Note ---->
    <!---- top-grids ---->
    <div class="top-grids">
        <div class="container">
            <div class="col-md-4 top-grid">
                <h4>Описание функции</h4>
                <p>If you are going to use a passage of Lorem Ipsum, there isn't anything embarrassing hidden in the middle of text.</p>
            </div>
            <div class="col-md-4 top-grid">
                <h4>Описание функции</h4>
                <p>If you are going to use a passage of Lorem Ipsum, there isn't anything embarrassing hidden in the middle of text.</p>
            </div>
            <div class="col-md-4 top-grid">
                <h4>Описание функции</h4>
                <p>If you are going to use a passage of Lorem Ipsum, there isn't anything embarrassing hidden in the middle of text.</p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!---- top-grids ---->
{% endblock %}
