{% extends "./layouts/main.html" %}

{% block title %}Описание{% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/vendor/bower_components/slick.js/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="/vendor/bower_components/slick.js/slick/slick-theme.css"/>
  <link rel="stylesheet" href="/css/about.css" />
  <script type="text/javascript" src="/vendor/bower_components/slick.js/slick/slick.js"></script>
  <script src="/js/about.js" ></script>
{% endblock %}

{% block content %}

    <!------ about ---->
    <div class="about">
        <!--- bradcrumbs ---->
        <div class="breadcrumbs">
            <div class="container">
                <div class="breadcrumbs-left">
                    <h1>Описание</h1>
                </div>
                <div class="breadcrumbs-right">
                    <ul>
                        <li><a href="/">Главная</a> <label>:</label></li>
                        <li>Описание</li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <!--- bradcrumbs ---->
    </div>

    <div class="container" id="slider">
      <div class="blog-artical-grid-pic-info">
        <div class="blog-artical-grid-pic">
          <img src="img/post-pic2.jpg" title="place-name">
        </div>
        <div class="blog-artical-grid-pic-info-admin">
          <div class="blog-artical-grid-pic-info-admin-left">
            <ul>
              <li><a href="#"><img src="img/admin-pic4.jpg" title="name-here"></a></li>
              <li><p>Written by <a href="#">Garry Walt</a></p></li>
            </ul>
          </div>
          <div class="blog-artical-grid-pic-info-admin-right">
            <h6>19/<span>09</span></h6>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="blog-artical-grid-pic-info">
        <div class="blog-artical-grid-pic">
          <img src="img/post-pic1.jpg" title="place-name">
        </div>
        <div class="blog-artical-grid-pic-info-admin">
          <div class="blog-artical-grid-pic-info-admin-left">
            <ul>
              <li><a href="#"><img src="img/admin-pic1.jpg" title="name-here"></a></li>
              <li><p>Written by <a href="#">Garry Walt</a></p></li>
            </ul>
          </div>
          <div class="blog-artical-grid-pic-info-admin-right">
            <h6>19/<span>09</span></h6>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="blog-artical-grid-pic-info">
        <div class="blog-artical-grid-pic">
          <img src="img/post-pic3.jpg" title="place-name">
        </div>
        <div class="blog-artical-grid-pic-info-admin">
          <div class="blog-artical-grid-pic-info-admin-left">
            <ul>
              <li><a href="#"><img src="img/admin-pic2.jpg" title="name-here"></a></li>
              <li><p>Written by <a href="#">Garry Walt</a></p></li>
            </ul>
          </div>
          <div class="blog-artical-grid-pic-info-admin-right">
            <h6>19/<span>09</span></h6>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
    </div>

    <div class="about-top-grids">
        <div class="container">
            <div class="about-wel wel-head text-center">
                <h3>Возможности <span>АСР</span>ТОС</h3>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
            </div>
            <!---- about-grids ---->
            <div class="about-grids" id="accordion">
              <h3>Выбор месторосположения оптового склада</h3>
              <div class="about-grids-row1">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </div>
              <h3>Расчет стоимости перевозки</h3>
              <div class="about-grids-row1">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </div>
              <h3>Расчет площади оптового склада</h3>
              <div class="about-grids-row1">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </div>
              <h3>Определение класса оптового склада</h3>
              <div class="about-grids-row1">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </div>
              <h3>Планирование поставок оптового склада</h3>
              <div class="about-grids-row1">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </div>
              <h3>Выбор между собственным и арендным складом</h3>
              <div class="about-grids-row1">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </div>
            </div>
            <!---- about-grids ---->
        </div>
    <!------ about ---->
    </div>

{% endblock %}
