{% extends "./layouts/main.html" %}

{% block title %}Главная{% endblock %}

{% block content %}

<!---- container ---->
    <!---- header ----->
    <div class="header">
        <div class="container">
    <!---- banner --->
    <div class="banner text-center">
        <h1><span>АСР</span>ТОС - будущее логистики</h1>
        <p>Автоматизированная система распределения товаров оптового склада с расчётом эффективности перевозок</p>
        <a class="seemore" href="#">Узнать больше!</a>
    </div>
    <!---- banner --->
    <!---- banner-grids ---->
    <div class="banner-grids">
        <div class="col-md-4 banner-grid">
            <span><img src="/img/icon.png" title="tootls" /></span>
            <h3><a href="#">Технологии</a></h3>
            <p>ACP-ТОС использует только самые современные и передовые методы и инструменты</p>
        </div>
        <div class="col-md-4 banner-grid">
            <span><img src="/img/icon1.png" title="tootls" /></span>
            <h3><a href="#">Лицензии</a></h3>
            <p>ACP-ТОС проверена временем и имеет лицензии от авторитетных международных кампаний</p>
        </div>
        <div class="col-md-4 banner-grid">
            <span><img src="/img/icon3.png" title="tootls" /></span>
            <h3><a href="#">Поддержка</a></h3>
            <p>Вы можете связаться с нами в любое время и служба поддержки ACP-ТОС поможет Вам</p>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!---- banner-grids ---->
        </div>
        </div>
    <!---- header ----->
    <!---- welcome-Note ---->
    <div class="welcome-note">
        <div class="container">
            <div class="wel-head text-center">
                <h3><span>Эффективность</span> перевозок</h3>
                <p>ACP-ТОС позволит Вам с легкостью определить затраты на перевозку товаров, а также подскажет оптимальный вариант.</p>
            </div>
        </div>
    </div>
    <!---- welcome-Note ---->
    <!---- top-grids ---->
    <div class="top-grids">
        <div class="container">
            <div class="col-md-4 top-grid">
                <h4>Заголовок</h4>
                <p>If you are going to use a passage of Lorem Ipsum, there isn't anything embarrassing hidden in the middle of text.</p>
            </div>
            <div class="col-md-4 top-grid">
                <h4>Заголовок</h4>
                <p>If you are going to use a passage of Lorem Ipsum, there isn't anything embarrassing hidden in the middle of text.</p>
            </div>
            <div class="col-md-4 top-grid">
                <h4>Заголовок</h4>
                <p>If you are going to use a passage of Lorem Ipsum, there isn't anything embarrassing hidden in the middle of text.</p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!---- top-grids ---->
    <!---- mid-grids ---->
    <div class="mid-grids">
        <div class="container">
            <div class="col-md-8 mid-grids-left">
                <h2>Последние новости от <span><label>АСР</label>ТОС</span></h2>
                <p>Последние события </p>
                <!---- latest-news-grids---->
                <div class="latest-news-grids">
                    <div class="latest-news-grid">
                        <img src="/img/m1.jpg" title="name" />
                        <h4><a href="#">Заголовок новости</a></h4>
                        <span>22 Сентября 2013, от <a href="#">Админ</a></span>
                        <p> текст новости. текст новости. текст новости. текст новости. текст новости. текст новости. </p>
                        <a class="news-btn" href="singlepage.html">Читать далее</a>
                    </div>
                    <div class="latest-news-grid">
                        <img src="/img/m3.jpg" title="name" />
                        <h4><a href="#">Заголовок новости</a></h4>
                        <span>22 Сентября 2013, от <a href="#">Админ</a></span>
                        <p> текст новости. текст новости. текст новости. текст новости. текст новости. текст новости. </p>
                        <a class="news-btn" href="singlepage.html">Читать далее</a>
                    </div>

                    <div class="clearfix"> </div>
                </div>
                <!---- latest-news-grids---->
            </div>
            <div class="col-md-4 mid-grids-right">
                <h3><span><label>АСР</label>ТОС</span> Сервис</h3>
                <p>Мы придадим уверенность и процветание вашему бизнесу</p>
                <div class="services-list">
                    <ul>
                        <li><a href="#"><span> </span><small>Здесь ссылка на функцию сервиса</small></a></li>
                        <li><a href="#"><span> </span><small>Здесь ссылка на функцию сервиса</small></a></li>
                        <li><a href="#"><span> </span><small>Здесь ссылка на функцию сервиса</small></a></li>
                        <li><a href="#"><span> </span><small>Здесь ссылка на функцию сервиса</small></a></li>
                        <li><a href="#"><span> </span><small>Здесь ссылка на функцию сервиса</small></a></li>
                        <li><a href="#"><span> </span><small>Здесь ссылка на функцию сервиса</small></a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!---- mid-grids ---->

{% endblock %}