{% extends "./layouts/main.html" %}

{% block title %}Описание{% endblock %}

{% block content %}

  <!------ about ---->
  <div class="services">
    <!--- bradcrumbs ---->
    <div class="breadcrumbs">
      <div class="container">
        <div class="breadcrumbs-left">
          <h1>Services</h1>
        </div>
        <div class="breadcrumbs-right">
          <ul>
            <li><a href="index.html">Home</a> <label>:</label></li>
            <li>Services</li>
          </ul>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <!--- bradcrumbs ---->
  </div>
  <div class="services-top-grids">
    <div class="container">
      <div class="services-wel wel-head text-center">
        <h3><span>M</span>oto Services </h3>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
      </div>
      <!---- services-grids ---->
      <div class="service-grids">
        <div class="col-md-4 service-grid">
          <img src="images/m1.jpg" title="services-name" />
          <h3>Service Name</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nisl turpis, aliquet mattis eros eu, ullamcorper tempus odio. Praesent vel mauris tincidunt felis varius feugiat eget non risus.</p>
        </div>
        <div class="col-md-4 service-grid">
          <img src="images/m3.jpg" title="services-name" />
          <h3>Service Name</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nisl turpis, aliquet mattis eros eu, ullamcorper tempus odio. Praesent vel mauris tincidunt felis varius feugiat eget non risus.</p>
        </div>
        <div class="col-md-4 service-grid">
          <img src="images/m2.jpg" title="services-name" />
          <h3>Service Name</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nisl turpis, aliquet mattis eros eu, ullamcorper tempus odio. Praesent vel mauris tincidunt felis varius feugiat eget non risus.</p>
        </div>
        <div class="clearfix"> </div>
        <a class="viewmore-s" href="#">Viewall</a>
      </div>
      <!---- services-grids ---->
    </div>
  <!------ about ---->
	</div>
  <!---- welcome-Note ---->
  <div class="about-note welcome-note">
    <div class="container">
      <div class="wel-head text-center">
        <h3>WE Are <span>M</span>oto</h3>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
      </div>
    </div>
  </div>
  <!---- welcome-Note ---->
  <!---- top-grids ---->
  <div class="top-grids">
    <div class="container">
      <div class="col-md-4 top-grid">
        <h4>Available</h4>
        <p>If you are going to use a passage of Lorem Ipsum, there isn't anything embarrassing hidden in the middle of text.</p>
      </div>
      <div class="col-md-4 top-grid">
        <h4>Available</h4>
        <p>If you are going to use a passage of Lorem Ipsum, there isn't anything embarrassing hidden in the middle of text.</p>
      </div>
      <div class="col-md-4 top-grid">
        <h4>Available</h4>
        <p>If you are going to use a passage of Lorem Ipsum, there isn't anything embarrassing hidden in the middle of text.</p>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <!---- top-grids ---->
<!---- container ---->

{% endblock %}