{% extends "./layouts/main.html" %}

{% block title %}Сервис{% endblock %}

{% block content %}

  <!------ about ---->
  <div class="services">
    <!--- bradcrumbs ---->
    <div class="breadcrumbs">
      <div class="container">
        <div class="breadcrumbs-left">
          <h1>Сервис</h1>
        </div>
        <div class="breadcrumbs-right">
          <ul>
            <li><a href="/">Главная</a> <label>:</label></li>
            <li>Сервис</li>
          </ul>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <!--- bradcrumbs ---->
  </div>
  <div class="services-top-grids">
    <div class="container">
      <div class="services-wel wel-head text-center">
        <h3><span>АСР</span>ТОС функции</h3>
        <p>АСР-ТОС предлагае функции для логистических расчётов</p>
      </div>
      <!---- services-grids ---->
      <div class="service-grids">
        <div class="col-md-4 service-grid">
          <img src="img/store1.jpeg" title="services-name" />
          <h3>Расчёт площади склада</h3>
          <p>Эта функция поможет расчитать необходимые площади складских помещений.</p>
          <a href="/services/1" class="btn btn-primary">Использовать</a>
        </div>

        <div class="col-md-4 service-grid">
          <img src="img/store2.jpg" title="services-name" />
          <h3>Определение класса склада</h3>
          <p>Эта функция позволяет классифицировать склад на основе ряда параметров.</p>
          <a href="/services/2" class="btn btn-primary">Использовать</a>
        </div>
        <div class="col-md-4 service-grid">
          <img src="img/supply.jpg" title="services-name" />
          <h3>Планирование поставок</h3>
          <p>Эта функция поможет определить оптимальную партию поставки и спланировать режим поставок.</p>
          <a href="/services/3" class="btn btn-primary">Использовать</a>
        </div>
        <div class="clearfix"> </div>
      <!--  <a class="viewmore-s" href="#">Viewall</a> -->
      </div>
      <!---- services-grids ---->
    </div>
  <!------ about ---->
	</div>
  <!---- welcome-Note ---->
  <div class="about-note welcome-note">
    <div class="container">
      <div class="wel-head text-center">
        <h3>Новые возможности</h3>
        <p>Совсем скоро будут добавлены новые полезные функии.</p>
      </div>
    </div>
  </div>
  <!---- welcome-Note ---->
  <!---- top-grids ---->
  <div class="top-grids">
    <div class="container">
      <div class="col-md-4 top-grid">
        <h4>В разработе</h4>
        <p>Скоро появится.</p>
      </div>
      <div class="col-md-4 top-grid">
        <h4>В разработе</h4>
        <p>Скоро появится.</p>
      </div>
      <div class="col-md-4 top-grid">
        <h4>В разработе</h4>
        <p>Скоро появится.</p>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <!---- top-grids ---->
<!---- container ---->
{% endblock %}